[submodule "legacy/sql"]
	path = legacy/sql
	url = https://github.com/metacpan/Perl5-CoreSmokeDB.git
[submodule "legacy/api"]
	path = legacy/api
	url = https://github.com/metacpan/Perl5-CoreSmokeDB-API.git
[submodule "legacy/web"]
	path = legacy/web
	url = https://github.com/metacpan/Perl5-CoreSmokeDB-Web.git
